body {
    background-color: beige;
    color: black;
    font-family:'Courier New', Courier, monospace
}
.header {
    display: flex;
    justify-content: space-between; /* Ensures h1 is on the left and images are on the right */
    align-items: center; /* Aligns elements vertically */
}

.images {
    display: flex;
    gap: 10px; /* Space between images */
}

.images img {
    width: 40px;  /* Set the desired width */
    height: 40px; /* Set the desired height */
    object-fit: contain;
}


a {
    text-decoration: none;
}

ul{
    list-style-type: none;
}

li {
    padding-bottom: 1%;
}

.note {
    font-size: smaller;
}
